<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wul.springbtest.mapper.LoginMapper">

<!--通过输入的用户名查询登录者信息是否匹配-->

<!--查询登录用户的信息-->


<select resultType="com.wul.springbtest.enity.User" id="finduser">
        SELECT * FROM userlog WHERE username=#{username} and password=#{password};
    </select>

</mapper>
